<settings>
  <localRepository>.m2</localRepository>
  <servers>
    <server>
      <id>nexus</id>
      <!-- <username>${env.NEXUS_CREDS_USR}</username>
      <password>${env.NEXUS_CREDS_PSW}</password> -->
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>nexus</id>
      <!-- <name>Nexus On-Premise</name> -->
      <url>http://localhost:8081/repository/maven-releases//</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>
